<div class="container">

  <h2>Admin posts</h2>

  <form [formGroup]="postForm">
    <div class="form-group">
      <label>Post title</label>
      <input formControlName="title" type="text" class="form-control" placeholder="eg. My daily routine">
    </div>
    <div class="form-group">
      <label>Description</label>
      <input formControlName="content" type="text" class="form-control" placeholder="eg. Morning walk, study etc">
    </div>
    <div class="form-group">
      <label>Tags</label>
      <input formControlName="tags" type="text" class="form-control" placeholder="habit, routine">
    </div>
    <div class="user-actions">
      <button type="submit" class="btn btn-primary" *ngIf="!(isEditing | async)" (click)="onAddClicked()">Add</button>
      <button type="submit" class="btn btn-primary" *ngIf="isEditing | async" (click)="onEditPostClicked()">Edit</button>
      <button type="submit" class="btn btn-outline-secondary" (click)="cancelPostClicked()">Cancel</button>
    </div>
  </form>

  <hr>

  <table class="table table-sm">
    <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
      <th>Content</th>
      <th>Tags</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts | async, let i = index">
      <td>{{i + 1}}</td>
      <td>{{post.title}}</td>
      <td>{{post.content}}</td>
      <td>{{post.tags.join(',')}}</td>
      <td>
        <button type="button" class="btn btn-outline-primary btn-sm" style="margin-right: 10px" (click)="onEditClicked(post.id)">Edit</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="onDeleteClicked(post.id)">DELETE</button>
      </td>
    </tr>

    </tbody>
  </table>
</div>
